.album2-card-image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

#music-description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: Poppins-Medium;
  font-size: larger;
}

.music-preview-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
