.wrap-login100 {
  width: 800px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px;
  background: #9152f8;
  background: -webkit-linear-gradient(top,#7579ff,#b224ef);
  background: -o-linear-gradient(top,#7579ff,#b224ef);
  background: -moz-linear-gradient(top,#7579ff,#b224ef);
  background: linear-gradient(top,#7579ff,#b224ef);
  margin-top: 10%;
  margin-left: 30%;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFF;
  font-family: Poppins-Medium;
}

#inputText {
  padding: 10px;
  text-align: center;
}

#inputButton {
  margin-top: 15px;
  transition: all .4s;
  border-radius: 25px;
  background-color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  color: #9152f8;
  font-weight: bolder;
  font-size: medium;
  opacity: 0.9;
}

#inputButton:hover {
  opacity: 1;
  cursor: pointer;
}